<div class="container">
    <h1 class="text-danger">API Documentation</h1>
    <h5>Registrasi</h5>
    <p>POST : http://localhost:3000/api/member/registrasi</p>
    <div class="row">
        <div class="col-md-6 clear-fix">
            <div class="payload">
                <p>payload</p>
                <hr>
                <pre>{{payload.registrasi}}</pre>
            </div>
        </div>
        <div class="col-md-6">
            <div class="response">
                <p>response</p>
                <hr>
                <pre class="res">{{payload.registrasi}}</pre>
            </div>
        </div>
    </div>
    <h5>Login</h5>
    <p>POST : http://localhost:3000/api/member/login</p>
    <div class="row">
        <div class="col-md-6 clear-fix">
            <div class="payload">
                <pre>
                </pre>
            </div>
        </div>
        <div class="col-md-6">
            <div class="response">
                <pre>

                </pre>
            </div>
        </div>
    </div>
    <h5>Transaction</h5>
    <p>POST : http://localhost:3000/api/transaction</p>
    <div class="row">
        <div class="col-md-6 clear-fix">
            <div class="payload">
                <pre>

                </pre>
            </div>
        </div>
        <div class="col-md-6">
            <div class="response">
                <pre>

                </pre>
            </div>
        </div>
    </div>
</div>